
@{
    ViewBag.Title = "DMMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var GetAccessUrl = "@Url.Action("GetPageAccess", "Admin")";
    var GetDMMasterUrl = "@Url.Action("GetDMMaster", "CustomerDataImprovement")";
    var SetDMMasterUrl = "@Url.Action("SetDMMaster", "CustomerDataImprovement")";
    var GetLogFileUrl = "@Url.Action("LogFile", "Admin")";
</script>

<div class="col-lg-12 pad-0" ng-controller="DMMaster_OperController" ng-init="Initializtion()">
    <div class="content-part">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h5 class="heading-h">Design Modification Master</h5>
            </div>
            <div class="row mar-0 fomr-div">
                <div class="row mar-0 fomr-div">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>DM Title Name</span><span style="color:red;padding:5px;">*</span>
                        <input type="text" ng-model="txtName" id="txtName" ng-focus="txtfocusName==true" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Code</span><span style="color:red;padding:5px;">*</span>
                        <input type="text" ng-model="txtCode" id="txtCode" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>TD No</span>
                        <input type="text" ng-model="txtTDNo" id="txtTDNo" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>MEN No</span>
                        <input type="text" ng-model="txtMENNo" id="txtMENNo" />
                    </div>
                </div>
                <div style="margin-bottom: 5px;" class="row mar-0 fomr-div">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Description</span>
                        <input type="text" ng-model="txtDesc" id="txtDesc" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <table style="margin-top: 15px;">
                            <tr>
                                <td>
                                    <input type="checkbox" ng-model="Active" ng-true-value="'1'" ng-false-value="'0'" checked="checked" id="chkActive" style="width: auto;" />
                                </td>
                                <td>
                                    <span style="margin-left: 10px;">Active</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top: 20px; padding-left: 0px; margin-left: 0px;">
                        <button type="button" ng-click="SaveData()" id="btnsave" class="btn btn-default SaveButton" ng-show="Add || UpdateOnly">Save</button>
                        <button type="button" ng-click="Clear()" class="btn btn-default" style="margin-left:20px;">Clear</button>
                    </div>
                </div>
                <br />
                <div class="col-lg-12">
                    <div class="input-group col-xs-6 col-sm-6 col-lg-6 col-md-6" style="margin-bottom: 15px;">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search DM Title Name" ng-model="searchDMMaster" style="height: 35px;">
                    </div>
                    <div>
                        <table cellpadding="0" cellspacing="0" class="table table-hover table-responsive">
                            <thead style="border-top: 1px solid #dddddd;border-bottom: 2px solid #dddddd;">
                                <tr>
                                    <th ng-click="sortType = 'SlNo'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;text-align:center;">
                                        SlNo
                                        <span ng-show="sortType == 'SlNo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'SlNo' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'Title'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;">
                                        DM Title Name
                                        <span ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'SBNo'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;">
                                        Code
                                        <span ng-show="sortType == 'SBNo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'SBNo' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'TDNo'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;">
                                        TD No
                                        <span ng-show="sortType == 'TDNo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'TDNo' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'MENNo'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;">
                                        MEN No
                                        <span ng-show="sortType == 'MENNo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'MENNo' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'Desc'; sortReverse = !sortReverse" style="color:#6b6b6b;font-weight:bold;cursor:pointer;">
                                        Description
                                        <span ng-show="sortType == 'Desc' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Desc' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th style="text-align:center;color:#6b6b6b;font-weight:bold">Active</th>
                                    <th style="text-align:center;color:#6b6b6b;font-weight:bold" ng-show="Update || Delete">Action</th>
                                </tr>
                            </thead>
                            <tbody style="border-bottom: 1px solid #dddddd;">
                                <tr ng-repeat="item in DMMasterGridArray | orderBy:sortType:sortReverse | filter:searchDMMaster  | pagination: curPage * pageSize | limitTo: pageSize">
                                    <td style="text-align:center;">
                                        <span ng-bind="item.SlNo"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Title"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.SBNo"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.TDNo"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.MENNo"></span>
                                    </td>

                                    <td>
                                        <span ng-bind="item.Desc"></span>
                                    </td>
                                    <td style="text-align:center;">
                                        <input type="checkbox" style="width: auto;" ng-model="item.Active" ng-true-value="'True'" ng-false-value="'False'" disabled="disabled" />
                                    </td>
                                    <td style="text-align:center;" ng-show="Update || Delete">
                                        <a style="cursor: pointer;" ng-show="Delete" ng-click="DeleteDMMaster(item)" data-toggle="tooltip" data-placement="top" title="Delete" onmouseover="$(this).tooltip('show')">
                                            <img style="height: 20px;" src="~/Content/img/delete.png" />
                                        </a>
                                        <a style="cursor: pointer;" ng-show="Update" ng-click="EditDMMaster(item)" data-toggle="tooltip" data-placement="top" title="Edit" onmouseover="$(this).tooltip('show')">
                                            <img style="height: 20px;" src="~/Content/img/edit.png">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="DMMasterGridArray.length > pageSize">
                            <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8" style="padding-left:0px;">
                                <ul class="pagination-controle pagination">
                                    <li>
                                        <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                                ng-click="curPage=0" style="border-radius  : 0px;">
                                            &lt;&lt; First
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                                ng-click="curPage=curPage-1" style="border-radius  : 0px;">
                                            &lt; Prev
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary" style="border-radius  : 0px;"
                                                ng-disabled="curPage >= DMMasterGridArray.length/pageSize - 1"
                                                ng-click="curPage = curPage+1">
                                            Next &gt;
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary" style="border-radius  : 0px;"
                                                ng-disabled="curPage >= DMMasterGridArray.length/pageSize - 1"
                                                ng-click="LastPage()">
                                            Last &gt;&gt;
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4" style="padding:20px;padding-right:0px;">
                                <span style="color: black;padding: 8px;background-color: #bbbbbb;" class="pull-right">Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="~/CIRScripts/CustomerDataImprovementController.js"></script>
