@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif;
    /*font-family: 'Karla', sans-serif;*/
    background-image: url('../Content/img/m-bg.jpg');
    background-size: cover;
    outline: none;
}

img {
    border: none;
    outline: none;
}

.header-wrapper {
    background: #fff;
    position: absolute;
    height: 50px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
}


.m-header {
    background: #fff;
    padding: 0px 15px 0px 15px;
    min-height: 50px;
    z-index: 10000;
    margin: 0px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
}

.pad-0 {
    padding: 0px;
}

.mar-0 {
    margin: 0px;
}

.h-rigt-div {
    width: 700px;
    height: 50px;
    float: right;
    margin-right: -15px;
    background-image: url('../Content/img/orange-strip.png');
}

.logo-bx {
    width: 100%;
    height: 50px;
    background: #fff;
}

.user-box {
    width: 100%;
    height: 95px;
    background-image: url('../Content/img/user-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

    .user-box table {
        width: 190px;
    }

        .user-box table td img {
            margin-top: 10px;
        }

        .user-box table td span {
            color: #fff;
            text-align: center;
        }

.footr {
    width: 190px;
    height: 44px;
    background-image: url('../Content/img/gamesa-footer.jpg');
    position: absolute;
    bottom: 0px;
}

.d-div {
    background: #fff;
    margin-bottom: 15px;
}

.select-h {
    width: 90%;
    padding: 5px;
    border: none;
    background: none;
    outline: none;
}

table.d-tble {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
}

    table.d-tble td i {
        color: #1d7700;
        font-style: normal;
        margin-left: 10px;
    }


table.val-tbl {
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
}

    table.val-tbl td span {
        font-family: 'Oswald', sans-serif;
        font-size: 45px;
        color: #f18402;
        text-align: center;
    }

    table.val-tbl td p {
        font-size: 15px;
        color: #808080;
        line-height: 18px;
        text-align: left;
    }


.log-div {
    max-width: 464px;
    height: 283px;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    margin-top: 5%;
}

table.log-tbl {
    width: 100%;
}

    table.log-tbl td input {
        border: none;
        width: 100%;
        outline: none;
    }

.content-part {
    background: #fff;
    border-radius: 3px;
    padding: 18px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
}




.fomr-div {
}

    .fomr-div span {
        font-size: 14px;
        color: #808080;
    }

    .fomr-div select {
        font-size: 14px;
        color: #808080;
        padding: 5px;
        width: 100%;
        margin-bottom: 5px;
    }


    .fomr-div input {
        font-size: 14px;
        color: #808080;
        padding: 3px;
        width: 100%;
        margin-bottom: 5px;
    }

    .fomr-div textarea {
        font-size: 14px;
        color: #808080;
        padding: 3px;
        width: 100%;
        margin-bottom: 5px;
    }

.btn {
    outline: none;
}

.heading-h {
    border-bottom: 1px #ccc dotted;
    padding-bottom: 15px;
    margin: 0px;
    margin-bottom: 10px;
}

.grid-div {
    max-width: 100%;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: auto;
}


.line {
    border-bottom: 1px #ccc dotted;
    margin-bottom: 15px;
}


.gal-grid {
}

    .gal-grid p {
        line-height: 10px;
    }


    .gal-grid img {
        margin-bottom: 10px;
    }




.chat-bx {
    width: 200px;
}


.m-wrapper {
    height: 100%;
}

.tbl-chat {
    width: auto;
    height: 100%;
}



table.i-table {
    height: 100%;
    width: 99.8%;
    float: right;
}


.chat-field {
    width: 100%;
    height: 80px;
    background: #fff;
    border-left: 2px #f4f7fb solid;
}

table.in-table {
    width: 100%;
    height: 100%;
}

.chat-pro {
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
}

.status {
    position: absolute;
    left: 0px;
    top: 16px;
    z-index: 100;
}

.chat-profile {
    width: 230px;
    height: 100%;
    background: #cedaef;
    border-bottom: 2px #f4f7fb solid;
}

    .chat-profile h4 {
        font-size: 18px;
        text-align: center;
    }


    .chat-profile p {
        font-size: 13px;
        text-align: center;
    }


    .chat-profile a {
        font-size: 15px;
        text-align: center;
        transition: ease 1s;
        margin: auto;
        background: #fff;
        padding: 15px 20px;
        border-radius: 5px;
        line-height: 100px;
        text-decoration: none;
    }

        .chat-profile a:hover {
            background: #13a0e8;
            color: #fff;
            -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
            -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
            box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.33);
        }

.me-pro {
    width: 100%;
    padding: 15px;
    border-bottom: 1px #eef2f6 solid;
    margin-top: 50px;
}

    .me-pro p {
        margin-bottom: 0px;
    }

    .me-pro span {
        color: #808080;
    }



.search-pro {
    width: 100%;
    padding: 15px;
    border-bottom: 1px #eef2f6 solid;
}


.search-div {
    width: 100%;
    border: 1px #fff dotted;
    padding: 5px;
    border-radius: 20px;
    transition: ease 1s;
    /*border: 1px #ccc solid;*/
    -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.28);
    box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.28);
}

    .search-div:hover {
        border: 1px #f18402 dotted;
    }


    .search-div input {
        width: 100%;
        padding: 3px;
        border: none;
        background: none;
        outline: none;
        padding-left: 15px;
    }

table.tbl-search {
    width: 100%;
}

.tbl-search td {
    padding: 0px;
}


table.cha-tbl {
}

    table.cha-tbl td input {
        padding: 10px;
        margin-left: 24px;
        width: 93%;
        border: none;
        outline: none;
        background: none;
        border: 2px #fff solid;
    }


.pro-photo {
    width: 65px;
    height: 65px;
    margin-top: 5px;
}

.pro-photo {
}

.table {
    margin-bottom: 0px;
}

.pro-list {
    width: 100%;
    max-height: 535px;
    padding: 2px;
    overflow-y: auto !important;
}

ul.pro-list-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    ul.pro-list-ul li {
        width: 100%;
        border-bottom: 1px #e6e6e6 solid;
    }

        ul.pro-list-ul li:hover {
            background: #f4f7fb;
        }

table.list-tbl {
    cursor:pointer;
}

    table.list-tbl td {
        /*padding:0px !important;*/
        border: none !important;
    }

        table.list-tbl td p {
            margin-bottom: 0px;
            margin-top: 5px;
        }

        table.list-tbl td span {
            color: #808080;
            font-size: 12px;
        }

.active1 {
    background: #f4f7fb;
}


#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0,0,0,0.3);
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #656c76;
}

.st-active {
    width: 10px;
    height: 10px;
    background: #3ccb0e;
    position: absolute;
    top: 14px;
    left: 6px;
    border-radius: 75px;
    z-index: 100;
}

.st-idle {
    width: 10px;
    height: 10px;
    background: #f18402;
    position: absolute;
    top: 14px;
    left: 6px;
    border-radius: 75px;
    z-index: 100;
}

.st-deactive {
    width: 10px;
    height: 10px;
    background: #808080;
    position: absolute;
    top: 14px;
    left: 6px;
    border-radius: 75px;
    z-index: 100;
}

i.time {
    position: absolute;
    right: 10px;
    font-size: 10px;
    color: #808080;
    font-style: normal;
}

/*.chat-wrapper {
    width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    overflow-y: auto;
    padding: 15px;
    padding-top:150px;
}*/


.chat-wrapper {
    padding-top: 70px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.chatter {
    width: 100%;
    margin-bottom: 15px;
}

.pro-pic {
    width: 25px;
}

    .pro-pic img {
        height: 25px;
    }

table.chatter-tbl {
    width: 100%;
}

    table.chatter-tbl td {
    }

.chat-div {
    min-width: 50px;
    background: #fff;
    display: -webkit-inline-box;
    padding: 7px;
    border-radius: 10px;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

    .chat-div p {
        margin: 0px;
        color: #828282;
    }

.chat-div-me {
    min-width: 50px;
    background: #e8e5e3;
    display: -webkit-inline-box;
    padding: 7px;
    border-radius: 10px;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

    .chat-div-me p {
        margin: 0px;
        color: #828282;
    }

.attach-div-r {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 5px;
    background: #e8e5e3;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

    .attach-div-r img {
        margin-top: 14px;
        margin-right: 15px;
    }

.attach-div-m {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

    .attach-div-m img {
        margin-top: 14px;
        margin-right: 15px;
    }

.right-col {
    width: 84.7%;
    height: 100%;
    position: relative;
}

.left-col {
    width: 295px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.16);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.16);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.16);
}

.a-stat {
    position: absolute;
    top: -24px;
    right: -24px;
}

.last-col {
    width: 290px;
    height: 100%;
    background: #cedaef;
}

.chat-footer {
    width: 100%;
    background: #e6e7e8;
    min-height: 100px;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.gap-wrapper {
    position: absolute;
    top: 0px;
    background: #f4f7fb;
    height: 52px;
    width: 100%;
    z-index: 10;
}
